.header {
    position: absolute;
    top: 5%;
    left: 0;
    right: 0;
}

.breadcrum {
    position: absolute;
    top: 10.3%;
    left: 0;
    right: 0;
    z-index: 1;
}

.outerContainer {
    padding-top: 1%;
    display: flex;
    justify-content: center;
    margin-top: 120px;
}

.left, .right {
    flex: 1;
    padding: 0;
    margin: 0;
}

.container {
    display: flex;
}

.right {
    margin-left: 100px;
}


.counter {
    display: flex;
    align-items: center;
    justify-content: center; /* Dodane, aby wy?rodkowa? elementy w poziomie */
}

.button {
    padding: 10px;
    font-size: 20px;
    border: 1px solid #000;
    cursor: pointer;
    margin: 0 10px;
}

.footer {
    padding: 1%;
    width: 100%;
    clear: both;
}

.interval {
    margin: 30px;
}

.buttonContainer {
    display: flex;
    flex-direction: column;
}

.gap {
    margin-top: 20px;
    align-items: center;
}

.gapDivider {
    margin-top: 20px;
}
